CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/mayqueen/np012-imx6q/np012-imx6q.cfg"
CONFIG_ARM=y
CONFIG_TARGET_MX6NP012=y
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_DM=y
CONFIG_DM_THERMAL=y
